html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

body {
  background: #6E6E6E;
}

.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 16;
}

.link {
  text-decoration: none;
  font-size: 5rem;
}

.root-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.info {
  font-size: 1.5rem;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(fonts/jetbrainsmono/jetbrainsmono-regular.woff2);
}
