html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: #6E6E6E;
}

.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  font-size: 5rem;
}

.root-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
